<!-- begin portfolio -->
<section class="section portfolio">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">{{ site.data.settings.portfolio.portfolio__title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div>
    {% for project in site.data.settings.portfolio.portfolio__projects %}
    <div class="container portfolio__gallery">
      <div class="row">
        <div class="col">
          <p>{{project.title}}</p>
          <p>{{project.summary}}</p>
          {% for bullet_point in project.description %}
          <ul>
            <li>{{bullet_point}}</li>
          </ul>
          {% endfor %}
          <img src="{{project.image}}" class="portfolio__item" alt="{{project.title}}" width="100%">
        <div>  
      </div>
    </div>
    {% endfor %}
  </div>

</section>
<!-- end portfolio -->