<!-- begin portfolio -->
<section class="section portfolio">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <h2 class="section__title">{{ site.data.settings.portfolio.portfolio__title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div>
    {% for project in site.data.settings.portfolio.portfolio__projects %}
    <div class="container portfolio__gallery">
      <div class="row">
        <div class="col portfolio__item">
          <h3>{{project.title}}</h3>
          <p><em>{{project.summary}}</em></p>
          <div class="image-bullets">
            <div>
              <img src="{{project.image}}" class="portfolio__item" alt="{{project.title}}" width="100%">
            </div>
            <div>
              {% for bullet_point in project.description %}
              <ul>
                <li>{{bullet_point}}</li>
              </ul>
              {% endfor %}
            </div>
          </div>
        <div>  
      </div>
    </div>
    {% endfor %}
  </div>

</section>
<!-- end portfolio -->